body{
  width: 1440px;
  font-family: "Poppins", sans-serif;
}
.main{
  background-color: #3B2A9F;
}
*{
  padding: 0;
  margin: 0;
}
.header{
  position: fixed;
  background-color: #3B2A9F;
  width: 1438.77px;
  height: 100px;
  display: flex;
  z-index: 9;
}
  #logo{
    padding-left: 58.95px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 551.53px;
  font-weight: 800;
  font-size: 29px;
  line-height: 44.51px;
  color: #fff;
}

.group1{
  width: 505.41px;
  height: 22.4px;
  top: 40px;
  display: flex;
  gap: 88px;
  margin-top: 40px;
  margin-bottom: 35.8px;
}
.group1 #a1{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group1 #a2{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group1 #a3{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group1 #a4{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group3{
  display: flex;
  gap: 3px;
  padding-top: 2px;
  padding-bottom: 25px;
  margin-left: -15px;
 
}
  .group3 #rec1{
  background-color: #FA8305;
  width: 30.97px;
  height: 4px;
  border-radius: 20px;
  top: 71px;
  left: 692.64px;
}
.group3 #rec2{
  width: 5px;
  height: 4px;
  border-radius: 20px;
  background-color: #FA8305;
}
.group2{
  display: flex;
  margin-top: 32px;
  margin-bottom: 26.66px;
  margin-right: 59.18px;
  margin-left: 36.18px;
}
.group2 #bar{
  width: 131.66px;
  height: 41.34px;
  top: 32px;
  left: 1248.16px;
  border-radius: 6px;
  border: 1px solid #fa8305;
  background-color: #FA8305;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
}
.first-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first-section-left{
  width: 527px;
  height: 510px;
  margin-top: 203px;
  margin-left: 147px;
  background-color: #3B2A9F;
}
#first-section-left-p1{
  width: 273px;
  height: 31px;
  left: 147px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.04px;
  color: #FA8305;
}
#first-section-left-p2{
  width: 479.63px;
  height: 234px;
  font-weight: 700;
  font-size: 50px;
  line-height: 77.6px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 26px;
}
#first-section-left-p3{
  width: 527px;
  height: 101px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 28px;
}
.getmore{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #fa8305;
  border: 1px solid #FA8305;
  border-radius: 40px;
}
 .first-section-right #image1{
  width: 806px;
  height: 761px;
  margin-left: 36px;
}
.first-section-right #img1{
  width: 96px;
  height: 30px;
  position: absolute;
  top: 409px;
  left: 610px;
  right: 27px;
}
.first-section-right #cry{
  width: 101px;
  height: 99px;
  position: absolute;
  top: 202px;
  left: 828px;
}
.first-section-right #img-unreal{
  width: 59px;
  height: 64px;
  position: absolute;
  top: 218px;
  left: 1168px;
}
.seconde-section{
     display: flex;
     gap: 603px;
}
#seconde-section-p1{
  font-weight: 700;
  font-size: 31px;
  line-height: 58.13px;
  margin-left: 148px;
  margin-top: 150px;
  color: #ffffff;
}
#seconde-section-button{
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: #5141AA;
  border: 1px solid #5141AA;
  color: #ffffff;
  font-weight: 500px;
  font-size: 20px;
  line-height: 37.5px;
  margin-top: 150px;
}
.threed-section-ul{
  display: flex;
  gap: 48px;
  list-style-type: none;
}
#img-li1{
  width: 251px;
  height: 277px;
  border-radius: 20px;
  margin-left: 148px;
  margin-top: 57px;
}
.fire-text1{
  margin-left: 188px;
  margin-top: 25px;
}

#img-fire1{
 width: 25px;
 height: 25px;
}
.text1{
  width: 136px;
  height: 41px;
  font-weight: 500;
  font-size: 22px;
  line-height: 41.25px;
  color: #ffffff;
}
#img-li2{
  width: 252px;
  height: 277px;
  border-radius: 20px;
  margin-top: 57px;
}
.fire-text2{
  margin-left:50px;
  margin-top: 25px;
}
#img-li3{
  width: 252px;
  height: 277px;
  border-radius: 20px;
  margin-top: 57px;
}

#img-li4{
  width: 251px;
  height: 277px;
  border-radius: 20px;
  margin-top: 57px;
}
.fire-text1:hover >img{
  -ms-transform: scale(2);
  transform: scale(2);
}
.fire-text2:hover >img{
  -ms-transform: scale(2);
  transform: scale(2);
}
.four-section-p{
  font-weight: 600;
  font-size: 35px;
  line-height: 65.63px;
  text-align: center;
  color: #ffffff;
  margin-top: 129px;
}
.five-section-p1{
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  color: #ffffff;
  margin-left: 148px;
  margin-top: 67px;
}
.five-section-p2{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 148px;
  margin-top: 32px;
}
#img-sixth-section{
  width: 196px;
  height: 154px;
  margin-left: 972px;

}
#img2-sixth-section{
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  position: relative;
  left: 148px;
  top: -100px;
  z-index: 1;
}
.seventh-section{
  width: 1170px;
  height: 678px;
  position: relative;
  left: 135px;
  top: 148; 
}
.seventh-section-p1{
  font-weight: 700;
  font-size: 30px;
  line-height: 56.25px;
  text-align: center;
  color: #ffffff;
}
.seventh-section-p2{
  font-weight: 400;
  font-size: 14px;
  line-height: 26.25px;
  text-align: center;
  color: #ffffff;
}
.seven-img-up{
  display: flex;
  gap: 27px;
}
#seven-img-up1{
  width: 382px;
  height: 223px;
  border-radius: 20px;
  margin-top: 71px;
  color: #C4C4C4;
}
#seven-img-up2{
  width: 352px;
  height: 223px;
  border-radius: 20px;
  margin-top: 71px;
  color: #C4C4C4;
}
.seven-img-down{
  display: flex;
  gap: 27px;
}
#seven-img-down1{
  width: 246px;
  height: 223px;
  border-radius: 20px;
  margin-top: 33px;
}
#seven-img-down2{
  width: 401px;
  height: 223px;
  border-radius: 20px;
  margin-top: 33px;
}
#seven-img-down3{
  width: 469px;
  height: 223px;
  border-radius: 20px;
  margin-top: 33px;
}
.eighth-section-button{
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: #5141AA;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 37.5px;
  border: 1px solid #5141AA;
  margin-left: 651px;
  margin-top: 72px;
}
.ninth-section{
  width: 1170px;
  height: 392px;
  margin-top: 105px;
  margin-left: 136px;
}
.ninth-section-p1{
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  color: #ffffff;
}
.ninth-section-p2{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 32px;
}
.ninth-section-box{
  width: 1170px;
  height: 189px;
  margin-top: 74px;
  border-radius: 15px;
  background-color: #1C140F;
  display: flex;
}
.ninth-section-box-p1{
  margin-top: 40px;
  margin-left: 56px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}
.ninth-section-box-p2{
margin-top: 10px;
margin-left: 56px;
font-weight: 400;
font-size: 17px;
line-height: 25.5px;
color: #ffffff;
}
.email{
  width: 385.68px;
  height: 48px;
  border-radius: 8px;
  margin-top: 71px;
  margin-left: 150px;
  background-color: #ffffff;
  display: flex;
}
.email-p{
  padding-top: 14px;
  margin-left: 20.55px;
  font-weight: 300;
  font-size: 13px;
  line-height: 19.5px;
  color: #898989;
  text-align: center;
}
.email-button{
  width: 105px;
  height: 37px;
  border-radius: 8px;
  margin-top: 6px;
  margin-left: 98.8px;
  background-color: #FA8305;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  border: 1px solid #fa8305;
}
.footer{
  width: 1440px;
  height: 376px;
  margin-top: 163px;
  background-color: black;
}
.box-footer{
  width: 1440px;
  height: 215px;
  background-color:black;
  position: relative;
  top: 79px;
  bottom: 29px;
  display: flex;
}
.box-footer1-p1{
  
  margin-top: 6px;
  margin-left: 101px;
  font-weight: 800;
  font-size: 24px;
  line-height: 36.84px;
  color: #ffffff;
}
.box-footer1-p2{
  
  margin-top: 15px;
  margin-left: 101px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.box-footer1-p3{
 
  margin-top: 25px;
  margin-left: 101px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.box-footer2-p1{
  
  margin-top: 6px;
  margin-left: 101px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
  color: #ffffff;
}
.box-footer-ul{
  
  margin-top: 15px;
  margin-left: 101px;
  font-weight: 400;
  font-size: 16px;
  line-height: 29.81px;
  list-style-type: none;
  color: #ffffff;
}
.box-footer3-p1{
 
  margin-top: 6px;
  margin-left: 144px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
  color: #ffffff;
}
.box-footer3-p2{
  
  margin-top: 20px;
  margin-left: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.box-footer3-p3{
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 11px;
  margin-left: 144px;
  color: #ffffff;
}
.box-footer4-icon{
  width: 184px;
  height: 34px;
  margin-top: 120px;
  margin-left: 80px;
  display: flex;
  gap: 14px;
  
}
.box-footer4-icon-img{
  width: 40px;
  height: 40px;
}
hr{
  position: relative;
  top: 100px;
   color: #D2D2D2;
  
}
.footer-p{
  
  font-weight: 400;
  font-size: 13px;
  line-height: 24.78px;
  color: #ffffff;
  position: relative;
  text-align: center;
  top: 120px;
}



