body{
  width: 1440px;
}
.main{
  background-color: #3B2A9F;
}
*{
  padding: 0;
  margin: 0;
}
.header{
  position: fixed;
  background-color: #3B2A9F;
  width: 1438.77px;
  height: 100px;
  display: flex;
  z-index: 9;
}
  #logo{
    padding-left: 58.95px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 551.53px;
  font-weight: 800;
  font-size: 29px;
  line-height: 44.51px;
  color: #fff;
}

.group1{
  width: 505.41px;
  height: 22.4px;
  top: 40px;
  display: flex;
  gap: 88px;
  margin-top: 40px;
  margin-bottom: 35.8px;
}
.group1 #a1{
  
  width: 50.6px;
  height: 24.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group1 #a2{
  width: 70.63px;
  height: 24.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group1 #a3{
  width: 74.85px;
  height: 24.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group1 #a4{
  width: 45.33px;
  height: 24.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
.group3{
  display: flex;
  gap: 3px;
  padding-top: 2px;
  padding-bottom: 25px;
 
}
  .group3 #rec1{
  background-color: #FA8305;
  width: 30.97px;
  height: 4px;
  border-radius: 20px;
  top: 71px;
  left: 692.64px;
}
.group3 #rec2{
  width: 5px;
  height: 4px;
  border-radius: 20px;
  background-color: #FA8305;
}
.group2{
  display: flex;
  margin-top: 32px;
  margin-bottom: 26.66px;
  margin-right: 59.18px;
  margin-left: 36.18px;
}
.group2 #bar{
  width: 131.66px;
  height: 41.34px;
  top: 32px;
  left: 1248.16px;
  border-radius: 6px;
  border: 1px solid #fa8305;
  background-color: #FA8305;
  color: #ffffff;
}
.first-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.first-section-left{
  width: 527px;
  height: 510px;
  margin-top: 203px;
  margin-left: 147px;
  background-color: #3B2A9F;
}
#first-section-left-p1{
  width: 273px;
  height: 31px;
  left: 147px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.04px;
  color: #FA8305;
}
#first-section-left-p2{
  width: 479.63px;
  height: 234px;
  font-weight: 700;
  font-size: 50px;
  line-height: 77.6px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 26px;
}
#first-section-left-p3{
  width: 527px;
  height: 101px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 26px;
  margin-bottom: 28px;
}
.br2{
  width: 195px;
  height: 53px;
  background-color: #FA8305;
  border-radius: 30px;
  margin-bottom: 180px;
}
#a5{
  position: relative;
  top: 14px;
  left: 40px;
  right: 31px;
  bottom: 14px;
  width: 134px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.first-section-right{
   
}
 .first-section-right #image1{
  width: 806px;
  height: 761px;
  margin-left: 36px;
}
.first-section-right #img1{
  width: 96px;
  height: 30px;
  position: absolute;
  top: 409px;
  left: 610px;
  right: 27px;
}
.first-section-right #cry{
  width: 101px;
  height: 99px;
  position: absolute;
  top: 202px;
  left: 828px;
}
.first-section-right #img-unreal{
  width: 59px;
  height: 64px;
  position: absolute;
  top: 218px;
  left: 1168px;
}
.seconde-section{
     display: flex;
     gap: 603px;
}
#seconde-section-p1{
  width: 404px;
  height: 58px;
  font-weight: 700;
  font-size: 31px;
  line-height: 58.13px;
  margin-left: 148px;
  margin-top: 150px;
  color: #ffffff;
}
#seconde-section-button{
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: #5141AA;
  border: 1px solid #5141AA;
  color: #ffffff;
  font-weight: 500px;
  font-size: 20px;
  line-height: 37.5px;
  margin-top: 150px;
}
.threed-section-ul{
  display: flex;
  gap: 48px;
}
#img-li1{
  width: 251px;
  height: 277px;
  border-radius: 20px;
  margin-left: 148px;
  margin-top: 57px;
}
.fire-text1{
  margin-left: 188px;
  margin-top: 25px;
}

#img-fire1{
 width: 25px;
 height: 25px;
}
.text1{
  width: 136px;
  height: 41px;
  font-weight: 500;
  font-size: 22px;
  line-height: 41.25px;
  color: #ffffff;
}
#img-li2{
  width: 252px;
  height: 277px;
  border-radius: 20px;
  margin-top: 57px;
}
.fire-text2{
  margin-left:50px;
  margin-top: 25px;
}
#img-li3{
  width: 252px;
  height: 277px;
  border-radius: 20px;
  margin-top: 57px;
}

#img-li4{
  width: 251px;
  height: 277px;
  border-radius: 20px;
  margin-top: 57px;
}
.fire-text1:hover >img{
  -ms-transform: scale(2);
  transform: scale(2);
}
.fire-text2:hover >img{
  -ms-transform: scale(2);
  transform: scale(2);
}
.four-section-p{
  width: 826px;
  height: 132px;
  font-weight: 600;
  font-size: 35px;
  line-height: 65.63px;
  text-align: center;
  color: #ffffff;
  margin-top: 129px;
  margin-left: 290px;
}
.five-section-p1{
  width: 209px;
  height: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  color: #ffffff;
  margin-left: 148px;
  margin-top: 67px;
}
.five-section-p2{
  width: 545px;
  height: 101px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin-left: 148px;
  margin-top: 32px;
}
#img-sixth-section{
  width: 196px;
  height: 154px;
  margin-left: 972px;

}
#img2-sixth-section{
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  position: relative;
  left: 148px;
  top: -100px;
  z-index: 1;
}


